%h3 Welcome
%p
  = link_to 'Groups:', game_groups_path
  = "#{User.count} users registered"
  %br
  %table#group_list.display
    %thead
      %tr
        %th Group Name
    %tbody
      - @groups.each do |group|
        %tr
          %td
            = link_to "#{group.name}", group