%h3 Welcome
%p
  = link_to 'Gaming groups', game_groups_path
  = "#{GameGroup.count} groups registered      #{User.count} users"
  %br
  %table#group_list.display
    %thead
      %tr
        %th The BGG Hotness
    %tbody
      - @hotness.each do |game|
        %tr
          %td
            = link_to "#{game.bgg_name}"